@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@font-face {
    font-family: 'Product Sans';
    src:
    url('../fonts/Product-Sans-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
  }
/* CSS reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
 u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.padding{
    padding: 3% 11%;    
}

.flex{
    display: flex;
}

.grid {
    display: grid;
}

.wrapper {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    flex-direction: column;
}
 
.header {
    flex-direction: column;
    background-color: #F4F6F9;
    padding-bottom: 15%;


}

.logo{
    font-family: "Product Sans", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #5282F0;
    margin-bottom: 133px;
}

.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.03em;
    color: #333333;
    max-width: 546px;
    margin-bottom: 30px;
}

.header-text > p {
    font-size: 18px;
    line-height: 26px;
    color: #4F4F4F; 
    max-width: 453px;
    margin-bottom: 50px;
}


.button:first-child {
    margin-right: 35px;
}

.header-text {
z-index: 100;
}

.header-image{
   position: absolute;
   right: 0px;
   top: 0px;
   width: 100%;
   z-index: 50;
}

@media screen and (max-width: 720px) {

.header-image {
    display: none;
}

.padding {
    padding-left: 5%;
    padding-right: 5%;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 86px;
}

.title {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}

.header-text > p {
    font-size: 16px;
    line-height: 23px;  
    text-align: center;
    max-width: none;
}


.download-buttons {
    display: flex;
    justify-content: center;
}

.mobile-resize {
    width: 145px;
    height: 44px;
}

.button:first-child {
    margin-right: 28px;
}
}

/* -----------Section---------- */
.section {
    height: 592px;
}

.left-side {
    position: relative;
    flex-basis: 60%;
    background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%, rgba(255, 255, 255, 0.5) ), url(../images/bacground-1.png) no-repeat ;
    background-size:cover;
    z-index: 1;
}

.right-side {
    flex-basis: 40%;
}

.sample1 {
    width: 360px;
    position: absolute;
    z-index: 100;
    top: 16%;
    left: 22%;
}

.sample2 {
    position: absolute;
    z-index: 50;
    top: 48%;
    left: 36%;
}

@media screen and (max-width:1000px) {
    .left-side > .container {
        display: flex;
        flex-direction: column;
        align-items: center;
         width: 100%;
    }
    .sample1, .sample2{
        position: unset;
        margin-top: 50px;
    }
}

.what {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
    margin-top: 133px;
    margin-bottom: 27px;
}

.title {
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    margin-bottom: 27px;
}

.text {
    max-width: 407px;
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;
}

.text > p:first-child {
    margin-bottom: 27px;
}

.lm-btn {
    margin-top: 22px;
    margin-bottom: 170px;
}

.lm-btn > a {
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
}

.section-2 {
    background: url(../images/bg.png) no-repeat ;
    background-size:cover;
    z-index: 0;
    padding-top: 217px;
    flex-direction: column;

}

.started {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 27px;
    color: #00ADEE;
}

.interface-content {
   z-index: 100;
}

@media screen and (max-width: 720px) {
    .section {
        flex-direction: column;

    }
    .left-side {
        min-height: 360px;
        order: 2;
        background: linear-gradient(184deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%, rgba(255, 255, 255, 0.5) ), url(../images/bacground-1.png) no-repeat    }
    .right-side{
        text-align: center;
    }
    .what {
        margin-top: 54px;
    }
    .text {
        max-width: 100%;
        padding: 0 20px;
    }
    .lm-btn {
        margin-bottom: 22px;
    }
    .sample1, .sample2{
        max-width: 247px;
        position: absolute;
        margin-top: 0;
    }
    .sample1 {
        top: 70px;
        left: 20px;
    }
    
    .sample2{
        top: 196px;
        left: 92px;
    }
    .section {
        height: unset;
    }
    .section-2 {
        padding-top: 32px;
        text-align: center;
        background: none;
    }
    .interface-content::after {
        content: "";
        width: 100%;
        min-height: 565px;
        display: block;
        background: url(../images/bg2.png) no-repeat ;
        background-size:contain;
        background-position:center;
    }

}

.features {
    background: url(../images/features-bg.png) no-repeat;
    background-size: cover;
    min-height: 735px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(311px, auto));
    grid-row-gap: 50px;
    grid-column-gap: 87px;
}

.features-title {
    grid-column: 1 / 4;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #FFFFFF;
    margin-bottom: 57px;
    text-align: center;
}

.feat-text {
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
    text-align: left;

}

@media screen and (max-width: 720px) {
    
    .feat-text, .features-title {
        color: #4F4F4F;
        text-align: center;
    
    }
    .feat-item {
        text-align: center;
    }
    .features {
        background: none;
    }
    .feat-svg{
        fill: #00adee;
    }
}

.feedback-slider {
    min-height: 430px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
 }
 .feedback-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    text-align: center;
    padding: 62px 0;
 }
 .slide-conteiner {
    overflow: hidden;
    position: relative;
 }
 .slide__wrapper {
    min-height: 230px;
 }
 .slide-conteiner::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: 3;
    display: inline-block;
    height: 160px;
    width: 200px;
    background: #000;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
 }
 .slide-conteiner::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    display: inline-block;
    height: 160px;
    width: 200px;
    background: linear-gradient(280deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
 }
 .slide {
    display: grid;
    min-height: 161px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    padding: 15px 13px 24px 17px;
    background: #ffffff;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
 }
 .slide-name {
    display: grid;
    grid-template-columns: 1fr 4fr 0.5fr;
    align-items: center;
    margin-bottom: 18px;
 }
 .user-fullname {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
 }
 .twitter-logo {
    justify-self: center;
 }
 .slide-text {
    font-size: 14px;
    line-height: 18px;
    color: #4f4f4f;
 }
 .slide-conteiner .swiper-pagination-bullet {
    padding: 7px;
    background: #828282;
 
    z-index: 50;
    bottom: -0px;
 }
 .prev {
    display: block;
    position: absolute;
    top: -53px;
    left: 96px;
 }
 .next {
    display: block;
    position: absolute;
    right: 99px;
    top: -53px;
 }
 .swiper-button-prev:after,
 .swiper-button-next:after {
    opacity: 0;
 }
 @media (max-width: 720px) {
    .slide-conteiner {
       width: 340px;
       margin: 0 auto;
    }
    .slide-conteiner::after {
       display: none;
    }
    .slide-conteiner::before {
       display: none;
    }
    .prev {
       display: none;
    }
    .next {
       display: block;
       position: absolute;
       z-index: 999;
       right: -8px;
       top: -21px;
       width: 47px;
       height: 47px;
       opacity: 0.5;
    }
    .feedback-title {
       padding: 0 0px 39px 0px;
       margin: 0 auto;
    }
    .slide-text {
       max-width: 273px;
    }
    .section__slide {
       min-height: 370px;
    }
 }

 .partners {
    flex-direction: column;
    display: flex;
    background-color: #FAFAFA;
    align-items: center; }

 .partners-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    text-align: center;
    padding: 57px 0;
 }

 .partners-logo-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 70px;
 }

 .partners-logo-section > img {
     margin-right: 79px;
 }

 @media (max-width: 720px) {
    .partners-logo-section > img {
        margin-bottom: 29px;
        margin-right: 29px;
    }
    .partners-logo-section{
    justify-content:center;
}
 }

 .section-3 {
     height: 483px;

 }

 .section-3 > .left-side {
    flex-basis: 50%;
    background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%, rgba(255, 255, 255, 0.5) ), url(../images/prefooter-bg.png) no-repeat ;
    background-size:cover;
 }

 .sec-3 {
     margin-top: 105px;
 }

 .sec-3-text{
     max-width: 535px;
     margin-bottom: 44px;
 }

 @media (max-width: 720px) {
    .section-3 {
        flex-direction: column;
        text-align: center;
        height: unset;
    }
    .sec-3 {
        margin-top: 18px;
    }
    .section-3 > .left-side {
        margin-top: 46px;}
}

.footer {
    min-height: 127px;
    background-color: #00ADEE;
    justify-content: space-between;
    align-items: center;
}

.footer-logotext {
    font-family: Product Sans;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.footer-social-links > img:nth-child(-n+2) {
    padding-right: 17px;
}

.menu-item:nth-child(-n+3) {
    padding-right: 37px;
}

.menu-item {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

@media (max-width: 720px) {
    .footer {
        flex-direction: column;
        align-items: unset;
    }
    .footer-menu {
        order: 3;
    }
    .footer-social-links {
        margin-bottom: 34px;
    }
}

 

